[Unit] 
Description=Node Exporter 
After=network.target 
 
[Service]
Environment=GOMAXPROCS=1
User=node_exporter 
Group=node_exporter 
Type=simple 
ExecStart=/usr/local/bin/node_exporter --collector.disable-defaults --collector.cpu --collector.cpufreq --collector.meminfo --collector.loadavg --collector.uname --collector.stat --collector.netclass --collector.netdev --collector.netstat --collector.ethtool --collector.filesystem --collector.diskstats --collector.systemd 
 
[Install] 
WantedBy=multi-user.target
