[Unit] 
Description=promtail service 
After=network.target 
 
[Service] 
Type=simple 
ExecStart=/usr/local/bin/promtail -config.file /etc/promtail/promtail.yaml 

[Install] 
WantedBy=multi-user.target